.App {
  text-align: center;
}  
.border {
  border: 2px solid red;
  padding: 10px;
  border-radius: 25px;

  transition: transform .2s; 
  margin: 0 auto;
}
 

.border:hover {
  -ms-transform: scale(1.015); /* IE 9 */
  -webkit-transform: scale(1.015); /* Safari 3-8 */
  transform: scale(1.015);  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
